<div class="container">
    <div class="tab-pane fade show active" id="pills-login" role="tabpanel" aria-labelledby="tab-login">
        <form>
        <!-- userName input -->
        <div class="form-outline mb-4" >
            <label class="form-label" for="loginName">Email or username</label>

            <input type="text" id="loginName" class="form-control" [(ngModel)]="userDetail.userName" name="userName" />

        </div>

        <!-- Password input -->
        <div class="form-outline mb-4">
            <label class="form-label" for="loginPassword">Password</label>

            <input type="password" id="loginPassword" class="form-control" [(ngModel)]="userDetail.password" name="password"/>
        </div>

        <div *ngIf="displayErrorMessage == true">
            <h1>Failed Login</h1>

            <p>Password or Username is wrong.</p>
        </div>

        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block mb-4" (click)="formSubmit()">Sign in</button>

        </form>
    </div>
</div>