<h1>List of channels</h1>
<ul>
    <li *ngFor="let channel of channelArray">
        <button (click)="navigateToChatArea(channel.name)" class="btn btn-primary">{{channel.name}}</button>

        <button *ngIf="adminAccess <= 2" (click)="deleteChannel(channel.id)" class="btn btn-danger">Delete</button>
    </li>

</ul>

<div *ngIf="adminAccess == 3"><p>You are the group assistant of this group</p></div>
<div *ngIf="adminAccess == 2"><p>You are the group admin of this group</p></div>
<div *ngIf="adminAccess == 1"><p>You are the super user</p></div>

<h3 *ngIf="message != ''">
    {{message}}
</h3>


<div *ngIf="adminAccess <= 3">
    <div *ngIf="adminAccess <= 3">
        <!-- Group assistant can access these functionality -->
        <button mat-raised-button (click)="clearDisplays(); createChannelDisplay = !createChannelDisplay" class="btn btn-primary">Create Channel</button><br><br>

        <button class="btn btn-primary btn-block mb-4" (click)="clearDisplays(); adddUserToChannelDisplay = !adddUserToChannelDisplay">User's Channel setting</button><br>

    </div>

    <div *ngIf="adminAccess <= 3">
        <!-- Group admin can access these functionality -->
        <button class="btn btn-primary btn-block mb-4" (click)="clearDisplays(); adddUserToGroupDisplay = !adddUserToGroupDisplay">User's group setting</button><br>
    </div>

    <div *ngIf="createChannelDisplay">
        <br>
        
        <form>
            <label>Channel Name: </label>
            <input type="text" id="name" class="form-control" [(ngModel)]="channelData.name" name="name"/>
            <br>

            <button mat-raised-button type="submit" class="btn btn-primary btn-block mb-4" (click)="createChannel()">Create Channel</button>
        </form>
    </div>

    <div *ngIf="adddUserToChannelDisplay">
        <br>
        <h3>Type the channel name and user name to change their setting for this Channel</h3>

        <form>
            <label>Channel Name: </label>
            <input type="text" id="channelName" class="form-control" [(ngModel)]="addUserData.channelName" name="channelName"/>
            <br>

            <label>User's Username: </label>
            <input type="text" id="userName" class="form-control" [(ngModel)]="addUserData.userName" name="userName"/>
            <br>

            <button mat-raised-button type="submit" class="btn btn-primary btn-block mb-4" (click)="getUserAndChannelID()">Add User</button>
            <button mat-raised-button type="submit" class="btn btn-danger btn-block mb-4" (click)="removeUserFromChannel()">Remove User</button>
        </form>
    </div>

    <div *ngIf="adddUserToGroupDisplay">
        <br>
        <h3>Type the userName for the user to change their setting for this group</h3>
        <form>
            <label>User's Username: </label>
            <input type="text" id="userName" class="form-control" [(ngModel)]="addUserData.userName" name="userName"/>
            <br>
            <div *ngIf="adminAccess <= 2">
                <button mat-raised-button type="submit" class="btn btn-primary btn-block mb-4" (click)="addUserToGroup()">Add User to Group</button>
                <button mat-raised-button type="submit" class="btn btn-danger btn-block mb-4" (click)="removeUserFromGroup()">Remove User from group</button>
                <button mat-raised-button type="submit" class="btn btn-primary btn-block mb-4" (click)="updateGroupAssistant(addUserData.userName, false)">Assign Group Assistant</button>
                <button mat-raised-button type="submit" class="btn btn-danger btn-block mb-4" (click)="updateGroupAssistant(addUserData.userName, true)">Remove User from Group Assistant</button>

                <!-- Only super can access this -->
                <button *ngIf="adminAccess <= 1" mat-raised-button type="submit" class="btn btn-primary btn-block mb-4" (click)="updateGroupAdmin('groupAdmin')">Assign Group Admin</button>
            </div>
        </form>
    </div>
</div>
