<h1>List of channels</h1>
<ul>
    <li *ngFor="let channel of channelArray">
        <a [routerLink]="['/chatArea', channel.channelID]">{{channel.name}}</a>
        <button (click)="deleteChannel(channel.channelID)">Delete</button>
    </li>
</ul>


<div *ngIf="adminAccess">
    <button mat-raised-button (click)="clearDisplays(); createChannelDisplay = !createChannelDisplay">Create Channel</button><br>
    <button class="btn btn-primary btn-block mb-4" (click)="clearDisplays(); adddUserToChannelDisplay = !adddUserToChannelDisplay">Add/remove User to/from Channel</button><br>
    <button class="btn btn-primary btn-block mb-4" (click)="clearDisplays(); adddUserToGroupDisplay = !adddUserToGroupDisplay">Add user to Group</button><br>
    <!-- <button class="btn btn-primary btn-block mb-4" (click)="getAllChannels()">Display All Channels</button><br> -->


    <div *ngIf="createChannelDisplay">
        <br>
        
        <form>
            <label>ChannelID: </label>
            <input type="text" id="channelID" class="form-control" [(ngModel)]="channelData.channelID" name="channelID"/>
            <br>

            <label>Channel Name: </label>
            <input type="text" id="name" class="form-control" [(ngModel)]="channelData.name" name="name"/>
            <br>

            <button mat-raised-button type="submit" class="btn btn-primary btn-block mb-4" (click)="createChannel()">Create Channel</button>
        </form>
    </div>

    <div *ngIf="adddUserToChannelDisplay">
        <br>

        <form>
            <label>Channel Name: </label>
            <input type="text" id="channelName" class="form-control" [(ngModel)]="addUserData.channelName" name="channelName"/>
            <br>

            <label>User's Username: </label>
            <input type="text" id="userName" class="form-control" [(ngModel)]="addUserData.userName" name="userName"/>
            <br>

            <button mat-raised-button type="submit" class="btn btn-primary btn-block mb-4" (click)="getUserAndChannelID()">Add User</button>
            <button mat-raised-button type="submit" class="btn btn-primary btn-block mb-4" (click)="removeUserFromChannel()">Remove User</button>


        </form>
    </div>

    <div *ngIf="adddUserToGroupDisplay">
        <br>
        <form>
            <label>User's Username: </label>
            <input type="text" id="userName" class="form-control" [(ngModel)]="addUserData.userName" name="userName"/>
            <br>

            <button mat-raised-button type="submit" class="btn btn-primary btn-block mb-4" (click)="addUserToGroup()">add user</button>
            <button mat-raised-button type="submit" class="btn btn-primary btn-block mb-4" (click)="removeUserFromGroup()">Remove User</button>

        </form>
    </div>
</div>
