<h1>List of groups</h1>
<ul>
    <li *ngFor="let group of groupArray">
        <button (click)="navigateToGroup(group.groupID)">{{group.name}}</button>

        <!-- Only super user may delete this group -->
        <button *ngIf="adminAccess <= 1" (click)="deleteGroup(group.groupID)">Delete</button>
    </li>
</ul>

<h3 *ngIf="message != ''">
    {{message}}
</h3>


<div *ngIf="adminAccess <= 2">
    <br>
    <button mat-raised-button (click)="createUserDisplay = !createUserDisplay">Create Group</button><br>

    <div *ngIf="createUserDisplay">
        <form>

            <label>Group Name: </label>
            <input type="text" id="name" class="form-control" [(ngModel)]="groupData.name" name="name"/>
            <br>

            <button mat-raised-button type="submit" class="btn btn-primary btn-block mb-4" (click)="createGroup()">Create Group</button>
        </form>

    </div>

    <br>
    <a *ngIf="adminAccess <= 2" class="nav-link" routerLink="/adminArea" >Admin Area</a>
</div>
