<h1>List of groups</h1>
<ul>
    <li *ngFor="let group of groupArray">
        <a [routerLink]="['/channels', group.groupID]">{{group.name}}</a>
        <button (click)="deleteGroup(group.groupID)">Delete</button>
    </li>
</ul>




<div *ngIf="adminAccess <= 2">
    <br>
    <button mat-raised-button (click)="getAllGroups()">Display All Groups</button>

    <button mat-raised-button (click)="createUserDisplay = !createUserDisplay">Create Group</button><br>

    <div *ngIf="createUserDisplay">
        <form>

            <label>UserName: </label>
            <input type="text" id="name" class="form-control" [(ngModel)]="groupData.name" name="name"/>
            <br>

            <button mat-raised-button type="submit" class="btn btn-primary btn-block mb-4" (click)="createGroup()">Create Group</button>
        </form>

    </div>

    <br>
    <a class="nav-link" routerLink="/adminArea">Admin Area</a>
</div>
