<div>
    <h1>List of groups</h1>
    <ul>
        <li *ngFor="let group of groupArray">
            <button (click)="navigateToGroup(group.id)" class="btn btn-primary">{{group.name}}</button>
    
            <!-- Only super user may delete this group -->
            <button *ngIf="adminAccess <= 1" (click)="deleteGroup(group.id)" class="btn btn-danger">Delete</button>
        </li>
    </ul>
    
    <!-- Display a message to the user if there is something to display -->
    <h3 *ngIf="message != ''">
        {{message}}
    </h3>
    
    <!-- Access level of 2 and below are super(accessLevel 1) and groupAdmin(accessLevel 2) -->
    <div *ngIf="adminAccess <= 2">
        <br>
        <!-- A button to toggle the createGroupDisplay boolean variable -->
        <button mat-raised-button (click)="createGroupDisplay = !createGroupDisplay" class="btn btn-primary">Create Group</button><br>
    
        <div *ngIf="createGroupDisplay">
            <!-- Show the from to create a new group -->
            <form>
                <label>Group Name: </label>
                <input type="text" id="name" class="form-control" [(ngModel)]="groupData.name" name="name"/>
                <br>
    
                <button type="submit" (click)="createGroup()" class="btn btn-primary">Submit</button>
            </form>
    
        </div>
    
        <br>
        <a *ngIf="adminAccess <= 2" class="nav-link" routerLink="/adminArea" class="btn btn-primary">Admin Area</a>
    </div>
    
</div>
