<!-- Display the user information -->
<h2>User's Details</h2>
<p>Username: {{userName}}</p>
<p>Birthdate: {{birthDate}}</p>
<p>Email: {{email}}</p>
<p>Age: {{age}}</p>
<p>Role: {{role}}</p>
<p>Valid: {{valid}}</p>

<br>

<h2>User's Avatar</h2>

<!-- Display form to select a image -->
<form>
    <div class="form-group">
        <input type="file" class="form-control" (change)="onFileSelected($event)" name="uploadfile" id = "uploadfile" />
    </div>
    <button class="btn btn-primary" type="button" (click) ="uploadImage()">Submit</button>

</form>

<!-- Display the image if the imagePath isn't a empty string -->
<div *ngIf="imagePath != '' ">
    <img src="http://localhost:3000\images\{{imagePath}}"/>
</div>

