<h1>Admin Area</h1>
<br>

<button mat-raised-button (click)="clearDisplays(); searchUserDisplay = true">Seach for User</button>
<button mat-raised-button (click)="clearDisplays(); createUserDisplay = true">Create User</button>
<button mat-raised-button (click)="clearDisplays(); displayAllUsersDisplay = true">Display All Users</button>

<br>
<!-- <button mat-raised-button (click)="clearDisplays(); searchGroupDisplay = true">Seach for groups</button> -->



<div *ngIf="searchUserDisplay">
    <form>
        <label>Search by userName</label><br>
        <input type="text" id="userName" class="form-control" [(ngModel)]="userName" name="searchUserName"/>
        <button type="submit" class="btn btn-primary btn-block mb-4" (click)="[searchUser(userName)]">Search</button>
    </form>


    <div *ngIf="userData != undefined && userData.userName != '' ">
        <h3>User Information: </h3>
        <p>UserID: {{userData.userID}}</p>
        <p>UserName: {{userData.userName}}</p>
        <p>Email: {{userData.email}}</p>
        <p>Birthday: {{userData.birthDate}}</p>
        <p>Role: {{userData.role}}</p>

        <button mat-raised-button type="submit" class="btn btn-primary btn-block mb-4" (click)="updateUserRole('super')">Update To SuperUser</button>
        <button mat-raised-button type="submit" class="btn btn-primary btn-block mb-4" (click)="updateUserRole('normal')">Update To Normal</button>
        <button mat-raised-button (click)="deleteUser()">Delete</button>
    </div>
</div>


<div *ngIf="createUserDisplay">
        <form>
            <label>UserID: </label>
            <input type="text" id="userName" class="form-control" [(ngModel)]="userData.userID" name="userID"/>
            <br>

            <label>UserName: </label>
            <input type="text" id="userName" class="form-control" [(ngModel)]="userData.userName" name="userName"/>
            <br>

            <label>Email: </label>
            <input type="text" id="userName" class="form-control" [(ngModel)]="userData.email" name="email"/>
            <br>

            <label>Birth Date: </label>
            <input type="text" id="userName" class="form-control" [(ngModel)]="userData.birthDate" name="birthDate"/>
            <br>

            <label>Age: </label>
            <input type="text" id="userName" class="form-control" [(ngModel)]="userData.age" name="age"/>
            <br>

            <label>Password: </label>
            <input type="text" id="userName" class="form-control" [(ngModel)]="userData.password" name="Password"/>
            <br>

            <label>Role: </label>
            <input type="text" id="userName" class="form-control" [(ngModel)]="userData.role" name="userRole"/>
            <br>

            <label>Valid: </label>
            <input type="text" id="userName" class="form-control" [(ngModel)]="userData.valid" name="valid"/>
            <br>

            <button mat-raised-button type="submit" class="btn btn-primary btn-block mb-4" (click)="createUser()">Create User</button>
        </form>

</div>

<div *ngIf="displayAllUsersDisplay">
    <div *ngFor="let user of userArray">
        <h3>Users Information: </h3>
        <p>UserID: {{user.userID}}</p>
        <p>UserName: {{user.userName}}</p>
        <p>Email: {{user.email}}</p>
        <p>Birthday: {{user.birthDate}}</p>
        <p>Role: {{user.role}}</p>
    </div>
</div>


<!-- <div *ngIf="searchGroupDisplay">
    <form>
        <label>Search by Group Name</label><br>
        <input type="text" id="groupName" class="form-control" [(ngModel)]="groupName" name="searchGroupName"/>
        <button type="submit" class="btn btn-primary btn-block mb-4" (click)="[searchGroup(groupName)]">Search</button>
    </form>

    <div *ngIf="userData != undefined && userData.userName != '' ">
        <h3>User Information: </h3>
        <p>UserID: {{userData.userID}}</p>
        <p>UserName: {{userData.userName}}</p>
        <p>Email: {{userData.email}}</p>
        <p>Birthday: {{userData.birthDate}}</p>
        <p>Role: {{userData.role}}</p>

        <button mat-raised-button type="submit" class="btn btn-primary btn-block mb-4" (click)="updateUserRole('super')">Update To SuperUser</button>
        <button mat-raised-button type="submit" class="btn btn-primary btn-block mb-4" (click)="updateUserRole('normal')">Update To Normal</button>
        <button mat-raised-button (click)="deleteUser()">Delete</button>
    </div>
</div> -->

