<h1>Admin Area</h1>
<br>
<div *ngIf="adminAccess <= 2">
    <button mat-raised-button (click)="clearDisplays(); createUserDisplay = true" class="btn btn-primary">Create User</button>
</div>
<div *ngIf="adminAccess == 1">
    <button mat-raised-button (click)="clearDisplays(); searchUserDisplay = true" class="btn btn-primary">Seach for User</button>

    <button mat-raised-button (click)="clearDisplays(); displayAllUsersDisplay = true" class="btn btn-primary">Display All Users</button>
    <button mat-raised-button (click)="clearDisplays(); displayAllGroupsDisplay = true" class="btn btn-primary">Display All Groups</button>
    <button mat-raised-button (click)="clearDisplays(); displayAllChannelDisplay = true" class="btn btn-primary">Display All Channel</button>
</div>




<br>
<div *ngIf="searchUserDisplay">
    <form>
        <label>Search by userName</label><br>
        <input type="text" id="userName" class="form-control" [(ngModel)]="userName" name="searchUserName"/>
        <button type="submit" class="btn btn-primary btn-block mb-4" (click)="[searchUser(userName)]">Search</button>
    </form>


    <div *ngIf="userData != undefined && userData.userName != '' ">
        <h3>User Information: </h3>
        <p>UserID: {{userData.id}}</p>
        <p>UserName: {{userData.userName}}</p>
        <p>Email: {{userData.email}}</p>
        <p>Birthday: {{userData.birthDate}}</p>
        <p>Role: {{userData.role}}</p>

        <button mat-raised-button type="submit" class="btn btn-primary btn-block mb-4" (click)="updateUserRole('super')">Update To SuperUser</button>
        <button mat-raised-button type="submit" class="btn btn-primary btn-block mb-4" (click)="updateUserRole('normal')">Update To Normal</button>
        <button mat-raised-button (click)="deleteUser(userData.id)">Delete</button>
    </div>
</div>


<div *ngIf="createUserDisplay">
        <form>
            <label>UserID: </label>
            <input type="text" id="userName" class="form-control" [(ngModel)]="userData.id" name="userID"/>
            <br>

            <label>UserName: </label>
            <input type="text" id="userName" class="form-control" [(ngModel)]="userData.userName" name="userName"/>
            <br>

            <label>Email: </label>
            <input type="text" id="userName" class="form-control" [(ngModel)]="userData.email" name="email"/>
            <br>

            <label>Birth Date: </label>
            <input type="text" id="userName" class="form-control" [(ngModel)]="userData.birthDate" name="birthDate"/>
            <br>

            <label>Age: </label>
            <input type="text" id="userName" class="form-control" [(ngModel)]="userData.age" name="age"/>
            <br>

            <label>Password: </label>
            <input type="text" id="userName" class="form-control" [(ngModel)]="userData.password" name="Password"/>
            <br>

            <label>Role: </label>
            <input type="text" id="userName" class="form-control" [(ngModel)]="userData.role" name="userRole"/>
            <br>

            <label>Valid: </label>
            <input type="text" id="userName" class="form-control" [(ngModel)]="userData.valid" name="valid"/>
            <br>

            <button mat-raised-button type="submit" class="btn btn-primary btn-block mb-4" (click)="createUser()">Create User</button>
        </form>

</div>

<div *ngIf="displayAllUsersDisplay">
    <div *ngFor="let user of userArray">
        <h3>Users Information: </h3>
        <p>UserID: {{user.id}}</p>
        <p>UserName: {{user.userName}}</p>
        <p>Email: {{user.email}}</p>
        <p>Birthday: {{user.birthDate}}</p>
        <p>Role: {{user.role}}</p>
        <button mat-raised-button (click)="deleteUser(user.id)" class="btn btn-danger">Delete</button>

    </div>
</div>


<div *ngIf="displayAllGroupsDisplay">
    <div *ngFor="let group of groupArray">
        <h3>{{group.name}}'s Information: </h3>
        <p>GroupID: {{group.id}}</p>
        <p>Group Name: {{group.name}}</p>

        <h4>List of Users</h4>
        <ul>
            <li *ngFor="let userID of group.userID">
                UserID: {{userID}}
            </li>
        </ul>
        <p>Group AdminID: {{group.adminID}}</p>

        <h4>List of Assistants</h4>
        <ul>
            <li *ngFor="let assistantID of group.assistantID">
                AssistantID: {{assistantID}}
            </li>
        </ul>
    </div>
</div>

<div *ngIf="displayAllChannelDisplay">
    <div *ngFor="let channel of channelArray">
        <h3>{{channel.name}}'s Information: </h3>
        <p>ChannelID: {{channel.id}}</p>
        <p>Channel Name: {{channel.name}}</p>
        <p>GroupID: {{channel.groupID}}</p>

        <h4>List of Users</h4>
        <ul>
            <li *ngFor="let userID of channel.userID">
                UserID: {{userID}}
            </li>
        </ul>
    </div>
</div>
