<div class="p-3" >
  
  <!-- Navigation -->
  <nav class="bg-dark container">
    <div >
      <ul >
        <li class="nav-item"><a routerLink="/" class="text-white text-decoration-none" >Home</a></li>
        <li><a routerLink="/login" class="text-white text-decoration-none">Login</a></li>
        <li><a routerLink="/account" class="text-white text-decoration-none">Account</a></li>
        <li><a routerLink="/groups" class="text-white text-decoration-none">Groups</a></li>
        <li><button class="nav-link" (click)="logout()" class="btn btn-primary">Logout</button></li>
      </ul>
    </div>
  </nav>
  
  <!-- Body of the app -->
  <div class=" bg-dark text-white container max-height: 100%;" >
    <router-outlet></router-outlet>
  </div>

</div>
